@use '../abstracts/breakpoints' as *;
@use '../abstracts/variables' as vars;

.calculator-keypad {
  display: grid;
  grid-template-columns: repeat(4, minmax(5rem, 1fr));
  grid-auto-rows: 6.3rem;
  gap: 2.5rem;
  padding: 3.1rem;
  background-color: var(--clr-background-toggle-and-keypad);
  border-radius: 1rem;

  @include breakpoint(max-height, 850px) {
    gap: 2rem;
    padding: 2.7rem;
  }

  @include breakpoint(max-height, 780px) {
    grid-auto-rows: 5.3rem;
  }

  @include breakpoint('max', 'sm') {
    grid-auto-rows: 5.3rem;
    gap: 1.4rem;
    padding: 2.4rem;
  }
}

.key {
  font-size: 4rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--clr-background-keys-primary);
  color: var(--clr-text-keys-primary);
  box-shadow: inset 0 -0.4rem var(--clr-shadow-keys-primary);
  cursor: pointer;

  @include breakpoint('max', 'sm') {
    font-size: 3.3rem;
    border-radius: 0.6rem;
  }

  &:focus-visible {
    outline: 0.1rem solid var(--clr-text);
    outline-offset: 0.3rem;
    filter: vars.$filter-brightness;
  }

  &:hover {
    filter: vars.$filter-brightness;
  }

  &.operator[value='+/-'],
  &.operator[value='%'] {
    font-size: 3.5rem;

    @include breakpoint('max', 'sm') {
      font-size: 3rem;
    }
  }

  &.operator[value='+/-'] {
    letter-spacing: -0.3rem;
  }

  &.operator[value='^'] {
    font-size: 3.8rem;

    @include breakpoint('max', 'sm') {
      font-size: 3.1rem;
    }
  }

  &.operator[value='^'] sup {
    font-size: 2.5rem;
    vertical-align: super;
    line-height: 0;
    pointer-events: none;

    @include breakpoint('max', 'sm') {
      font-size: 2rem;
    }
  }

  &.history {
    font-size: 2.7rem;
    background-color: var(--clr-background-keys-tertiary);
    color: var(--clr-text-keys-secondary);
    box-shadow: inset 0 -0.4rem var(--clr-shadow-keys-tertiary);

    @include breakpoint('max', 'sm') {
      font-size: 2.1rem;
    }
  }

  &.history i {
    pointer-events: none;
  }

  &.delete,
  &.reset {
    font-size: 2.7rem;
    color: var(--clr-text-keys-secondary);
    background-color: var(--clr-background-keys-secondary);
    box-shadow: inset 0 -0.4rem var(--clr-shadow-keys-secondary);

    @include breakpoint('max', 'sm') {
      font-size: 1.9rem;
    }
  }

  &.delete i {
    pointer-events: none;
  }

  &.reset {
    grid-column: 1 / span 2;
  }

  &.equal-sign {
    grid-column: 3 / span 2;
    font-size: 3rem;
    background-color: var(--clr-background-keys-tertiary);
    color: var(--clr-text-keys-secondary);
    box-shadow: inset 0 -0.4rem var(--clr-shadow-keys-tertiary);

    @include breakpoint('max', 'sm') {
      font-size: 2.2rem;
    }
  }
}

.theme-three {
  .key.equal-sign,
  .key.history {
    color: hsl(60, 10%, 19%);
  }
}
