@use '../abstracts/variables' as vars;

html {
  font-size: vars.$font-size-root;
  overflow-x: hidden;
}

body {
  font-family: vars.$font-family-base;
  font-weight: vars.$font-weight-bold;
  font-size: vars.$font-size-base-desktop;
  background: var(--clr-background-main);
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
