.wrapper {
  width: 100%;
  max-width: 58rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}
