// Font families
$font-family-primary: 'League Spartan', sans-serif !default;
$font-family-base: $font-family-primary !default;

// Font sizes
$font-size-root: 62.5% !default;
$font-size-base-mobile: 1.4rem !default;
$font-size-base-desktop: 1.6rem !default;

// Font weights
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

// Line heights
$line-height-small: 1.25 !default;
$line-height-medium: 1.5 !default;
$line-height-base: $line-height-medium !default;
